.cv {
    width: 800px;
    background-color: white;
    padding: 24px;
}

.cv p {
    font-size: 16px;
}

.cv h1 {
    text-align: center;
    font-size: 30px;
}

.cv h2 {
    font-size: 24px;
    padding-top: 8px;
}

.cv ul {
    list-style-position: outside;
    padding-left: 20px;
}

.cv > * {
    margin-bottom: 8px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap:16px
}

.summary {
    text-align: center;
}

.inline-cv {
    display: flex;
    gap: 8px;
    margin-block: 8px;
}

.inline-cv h4 {
    width: fit-content;
}

.inline-list {
    display: flex;
    gap:16px;
}

.inline-list li {
    list-style: none;
    text-align: center;
}