.main {
    padding: 20px 80px;
    background-color: lightgray;
    width: 1000px;
    margin: 100px auto;
}

.main h2 {
    font-size: 40px;
}

.section-title {
    font-size: 30px;
    margin-block: 30px 16px;
}

.section-fields {
    display: flex;
    flex-direction: column;
    gap:20px;
}