.field {
    margin-top: 16px;
}

.field-title {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 700;
    display: block;
    margin-left: var(--block-left-offset);
}

.field-input, .field-textarea {
    font-size: 16px;
    padding-left: var(--block-left-offset);
    border-radius: 10px;
    width: 100%;
    background-color: var(--gray-background);
    border: none;
    outline: none;
}

.field-input {
    height: 2.5rem;
}

.field-textarea {
    padding-block: 0.6rem;
    line-height: 1.3rem;
}

#Summary {
    height: 8rem;
}

.field-text, .field-summary {
    margin-left: var(--block-left-offset);
    font-size: 18px;
    color: #1e293b;
}

.field-text {
    min-height:1.5rem;
}

.field-summary {
    margin-bottom: 8px;
}

.field-summary:first-child {
    margin-top: 16px;
}
