* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

@font-face {
  font-family: 'Bangers';
  src: url("../public/fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../public/fonts/Roboto-Regular.ttf");
}