* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

:root {
  --gray-background: #e5e7eb;
  --block-left-offset: 6px;
}

@font-face {
  font-family: 'Bangers';
  src: url("../public/fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../public/fonts/Roboto-Regular.ttf");
}

body {
  background-color: lightgray;
}